body{
    background-color:beige;
}
label{
    display:inline-block;
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 15px;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  .feedback-form{
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .section{
    margin-bottom: 25px;
  }
  